*{
    margin: 0;
    padding: 0;
    font-family: 'Russo One','Kanit', sans-serif;
}
#HeadLogo{
    width: 420px;
    height: 420px;
    display: grid;
    grid-column: 2;
    float: center;
    justify-self: center;
    margin-top: -160px;
    padding-right: 150px;

}
#logo{
    width: 100px;
    height: 100px;
    display: flex;
    float: center;
}
#face{
    display: grid;
    grid-column: 1;
    width: 420px;
    height: 420px;
    padding: 20px;

}
.headup{
    background-color: black;
    font-family: 'Righteous','Kanit', sans-serif;
    font-size: 69px;
    padding-left: 5px;

    color: white;
}
.headline{
    background-color: black;
    font-family: 'Righteous','Kanit', sans-serif;
    font-size: 69px;
    display: flex ;
    align-self: center;
    justify-content: center;
    float: center;
    padding-left: 5px;

    color: white;
}
.MyName{
    display: grid;
    grid-column: 2;
    justify-content: space-around;
    align-items: center;
}
.MyInfo{
    display: grid;
    grid-column: 3;
}
.sectionBlue{
    background-color: rgba(0, 101, 255) ;
    font-family: 'Russo One','Kanit', sans-serif;
    color: black;
    display: grid;
}
.sectionOrange{
    background-color: rgb(255, 93, 0);
    opacity: 1;
    display: grid;
    grid-template-columns: 30% 45% 30%;
    align-items: center;
    font-family: 'Russo One','Kanit', sans-serif;
    font-size: 22px;
    color: white;
}

.Uptop{
    background-image: url("../Images/Circuit-BG.jpg");
    width: 100%;
    display: grid;
    grid-template-columns: 50% 30%;
    grid-column: 1;
    grid-row: 3;
    opacity: 1;
    font-family: 'Russo One','Kanit', sans-serif;
    font-size: 42px;
    padding-top: 40px;
    align-self: center;
    justify-content: center;
    margin: 0px;
    color: black;
    float: left;

}
span{
    color: rgb(0,101,225);
    font-family: 'Righteous','Kanit', sans-serif;
    font-size: 69px;
    padding-left: 3px;
}
.black{
    color: rgb(0, 0, 0);
}

