*{
    margin: 0;
    padding: 0;
    font-family: 'Russo One','Kanit', sans-serif;
}
#HeadLogo{
    width: 420px;
    height: auto;
    display: grid;
    grid-column: 2;
    float: center;
    justify-self: center;
    
}
#Topiclogo{
    width: 100px;
    height: auto;
    display: flex;
    float: center;
}
#sidelogo{
    width: 30px;
    height: auto;
    display: flex ;
    justify-content: space-around;
}
#face{
    display: grid;
    grid-column: 1;
    width: 300px;
    height: auto;
    padding: 10px;
    padding-left: 70px;
    justify-content: center;
    align-self: center;
}
.Uptop{
    background-image: url("Images/Circuit-BG.png");
    width: 100%;
    display: grid;
    grid-template-columns: 51% 30%;
    font-family: 'Russo One','Kanit', sans-serif;
    font-size: 42px;
    padding-top: 40px;
    align-self: center;
    justify-content: center;
    margin: 0px;
    color: black;
    float: left;
    
    }
.header{
    display: grid;
    grid: 1;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.headup{
    background-color: black;
    font-family: 'Righteous','Kanit', sans-serif;
    font-size: 69px;
    padding-left:10px ;
    color: white;
}
.headline{
    background-color: black;
    font-family: 'Righteous','Kanit', sans-serif;
    font-size: 69px;
    border: 0cm;
    display: flex ;
    align-self: center;
    justify-content: center;
    float: center;
    padding-left: 5px;

    color: white;
}
.headsmall{
    background-color: black;
    font-family: 'Righteous','Kanit', sans-serif;
    font-size: 35px;
    display: flex ;
    align-self: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    margin: 30px;
    padding-left: 20px;
    padding-right: 20px;
    
    color: white;
}
.sectionOrange{
    background-color: rgb(255, 93, 0);
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: center;
    justify-self: center;
    font-family: 'Russo One','Kanit', sans-serif;
    font-size: 22px;
    color: white;
}
#smallOrange{
    background-color: rgb(255, 93, 0);
    display: flex;
    grid-template-columns: 13% 87%;
    align-items: center;
    font-size: 20px;
    color: white;
}
.MyName{
    display: grid;
    grid-column: 2;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.MyInfo{
    display: grid;
    flex-wrap: wrap;
    grid-column: 3;
    margin-top: -30px;
}
.skill{
    display: grid;
    grid-column: 1;
    grid-row: 2;
    padding-left: 10px;
    padding-right: 10px;
}
.SkillLogo{
    width: 69px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    flex-shrink: initial;
    flex-grow:initial;
    align-self: center;
}
img{
    width: auto;
    height: 80px;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.contact{
    display: grid;
    grid-column: 3;
    grid-row: 2;
    margin-top: -40px;
}
.sectionBlue{
    background-color: rgba(0, 101, 255) ;
    font-family: 'Russo One','Kanit', sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    align-content: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    
    padding-top: 20px;
}
#education{
    display: grid;
    grid-row: 1;
    justify-items: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
#education2{
    display: grid;
    grid-row: 2;
    justify-items: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    
}
#education3{
    display: grid;
    grid-row: 3;
    justify-items: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    
}
.sectionBlue2{
    background-color: rgba(0, 101, 255) ;
    font-family: 'Russo One','Kanit', sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
    
    padding-top: 20px;
}
.certcopy{
    width: 169px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.certificate{
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    align-items: center;
}
.sectionWork{
    background-color: rgb(241,0,71);
    display: grid;
    grid-template-columns:40% 30%;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-family: 'Russo One','Kanit', sans-serif;
    font-size: 22px;
    color: rgb(0, 0, 0);
}
.sectionWork2{
    background-color: rgb(241,0,71);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-family: 'Russo One','Kanit', sans-serif;
    font-size: 22px;
    color: rgb(0, 0, 0);
}
.gitlogo{
    height: 420px;
    width: auto;
    display: grid;
    grid-column: 2;
    margin-top:-42px ;
    margin-bottom:-42px ;
    justify-content: space-around;
    align-items: center;
}
.gitdirect{
    display: grid;
    grid-column: 1;
    
    align-items: center;
}
.work{
    height: auto;
    width: 420px;
    display: grid;
    border: #000000 ;
    border-radius: 50px;

    grid-column: 1;
}
.desc{
    display: grid;
    grid-column: 2;
    font-size: 15px;
    align-self: center;
    justify-self: center;
}
span{
    color: rgb(0,101,225);
    font-family: 'Righteous','Kanit', sans-serif;
    font-size: 69px;
    padding-left: 3px;
}
.bluesmall{
    color: rgb(0,101,225);
    font-size:25px;
    justify-content: center;
    align-self: center;
}
.black{
    color: rgb(0, 0, 0);
    font-size: 69;
    align-content: center;
    justify-content: center;
}
.blacksmall{
    color: rgb(0, 0, 0);
    font-family: 'Russo One','Kanit', sans-serif;
    font-size: 22px;
}
#note{
    color: rgb(103, 103, 103);
    font-family: 'Russo One','Kanit', sans-serif;
    font-size: 22px;
}
.orangebox{
    font-family: 'Russo One','Kanit', sans-serif;
    font-size: 22px;
    color: white;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-items: space-around;
    margin: 0;
}
#greenDownload{
    background-color: #04AA6D;
    border-radius: 5px;
    border-color: #04AA6D;
    padding: 4px 8px;
    font-size: 17px;
    font-family: 'Russo One','Kanit', sans-serif;
    color: white;
    text-decoration: none;
}
#blackRedirect{
    background-color: #000000;
    border-radius: 5px;
    border-color: #000000;
    padding: 4px 8px;
    font-size: 30px;
    font-family: 'Russo One','Kanit', sans-serif;
    color: white;
}
.end{
    background-color: #000000;
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Russo One','Kanit', sans-serif;
    font-size: 15px;
    color: rgb(122, 122, 122);
}   

